<?xml version="1.0" encoding="utf-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee">
    <servlet>
        <servlet-name>AppServlet</servlet-name>
        <servlet-class>com.lucevent.newsup.backend.AppServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>AppServlet</servlet-name>
        <url-pattern>/app</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AppServlet_v2</servlet-name>
        <servlet-class>com.lucevent.newsup.backend.AppServlet_v2</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>AppServlet_v2</servlet-name>
        <url-pattern>/appv2</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AppServlet_v3</servlet-name>
        <servlet-class>com.lucevent.newsup.backend.AppServlet_v3</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>AppServlet_v3</servlet-name>
        <url-pattern>/appv3</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>WebServlet</servlet-name>
        <servlet-class>com.lucevent.newsup.backend.WebServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>WebServlet</servlet-name>
        <url-pattern>/web</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ManagerServlet</servlet-name>
        <servlet-class>com.lucevent.newsup.backend.ManagerServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>ManagerServlet</servlet-name>
        <url-pattern>/manager</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DevelopmentServlet</servlet-name>
        <servlet-class>com.lucevent.newsup.backend.DevelopmentServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>DevelopmentServlet</servlet-name>
        <url-pattern>/dev</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>

</web-app>