body {
    width: 90%;
    margin: 0 auto;
    padding: 0;
    height: 100%;
    line-height: 1;
    background: #C5E1A5;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.67;
    font-family: 'Roboto', sans-serif;
}
/* Publication selection */
#nav_sites{
    position: absolute;
    top: 0;
    left: 0;
    padding: 30px;
    background-color:#C5E1A5;
}
#nav_closer{
    width: 50px;
    height:50px;
    margin:20px;
}
#nav_closer{
    cursor: pointer;
}
#filters{
    display: inline-block;
}
#filters th{
    width:30%;
    height: 40px;
    font-size: 1.1em;
}
#nav_sites select{
    width: 120px;
    padding: 3px 8px;
    margin-left: 10px;
    font-size: 1em;
    font-family: inherit;
}
.divisor{
    width: 95%;
    height: 2px;
    margin: 10px auto;
    background-color: #558B2F;
}
#sites{
    margin: 10px;
}
.site{
    width: 250px;
    font-size: 1.1em;
    font-size: fit-width;
    display: inline-block;
    margin: 6px 15px;
}
.site img {
    vertical-align: middle;
    width: 40px;
    height: 40px;
    margin-right: 20px;
}
.site:hover{
    cursor: pointer;
    color: #fff;
    text-decoration: underline;
    background: #558B2F;
}


/** Current site info **/
#cur_pub{
    display: inline-block;
    width:25%;
    background: #558B2F;
    margin:0;
    padding: 0;
}
#pub_data {
    border-bottom: 0.2em solid #aaa;
}
#pub_data img {
    width: 5em;
    margin: 0.5em;
}
#pub_data span {
    font-weight: bold;
    font-size: 2em;
    margin-left: 0.2em;
}

/* Sections */
#sections {
    margin: 0px;
    padding-top:20px;
    font-size: 1.2em;
}
#sections .section {
    padding: 10px 20px;
    margin:0;
}
#sections .section:hover {
    cursor: pointer;
    color: #D32F2F;
    background-color: #8BC34A;
    text-decoration: underline;
}
#sections .groupsection {
    font-weight: bold;
    padding: 8px 30px;
    margin:0;
}
#sections .subsection {
    padding: 8px 20px 8px 50px;
    margin:0;
}

/** News List **/
#news_list{
    background-color: #f99;
    width: 70%;
    height: 800px;
    margin:0;
    padding: 0;
    float:right;
}
.news{
    position:relative;
    padding:0;
    margin:0;
    background-size:cover;
}
.news:hover{
    cursor: pointer;
}
.news:hover .title{
    color:#8BC34A;
}
.news .text{
    position:absolute;
    bottom:0;
    padding:0;
    line-height: 1.4;
}
.news .tag{
  color: #f0f;
  text-transform: uppercase;
    font-size: 0.8em;
    padding:2px 5px;
    margin:10px 15px;
    background-color:rgba(0, 0, 0, 0.6);
    display:inline-block;
}
.news .title{
    color: #fff;
  background-color:rgba(0, 0, 0, 0.3);
  font-size: 1.5em;
    padding:20px;
}
.n_big{
  width:66%;
    height:400px;
  display:inline-block;
}
.n_small_col{
    height:200px;
}
.n_medium{
  height:300px;
  width:50%;
  display:inline-block;
}
.n_small_row{
  height:300px;
  width:33.3%;
  display:inline-block;
}
.n_small_row .title,.n_small_col .title,.n_medium .title {
   font-size:1em;
   padding:14px;
}
.row{
    position:relative;
}
.col{
  display:inline-block;
  width:34%;
}

/* Article */
#article_box {
    visibility: hidden;
    background-color: #eee;
    position: absolute;
    left:0;
    top:0;
    right: 0;
}
#article_news{
    margin: 0 auto;
    padding: 20px 100px 60px 100px;
    background-color: #ffffff;
    width: 40%;
    box-shadow: -10px 0 15px -5px #bbb, 10px 0 15px -5px #bbb;
}
#title{
    margin-top: 40px;
    font-size: 36px;
    font-family: Helvetica, sans-serif;
    font-weight:500;
}
#author {
    font-style: italic;
}
#date{
     float: right;
     font-style: italic;
}
#content{
    color:#444444;
    text-align: justify;
    font-family:Helvetica, sans-serif;
    font-size:16px;
    font-style:normal;
    font-weight:300;
    line-height:27.2px;
    margin: 40px 0;
    padding: 0;
}
#content blockquote{
    margin:10px;
    padding: 5px 10px;
    background-color:#f2f2f2
}
#content iframe, video {
    width: 100%;
    height:auto;
    margin: 15px 0;
    padding: 0
}
#content img, figure {
    width: 100%;
    height:auto;
    margin: 15px 0;
    padding: 0;
}
.closer {
    display: inline-block;
    cursor: pointer;
}
figcaption{font-size:12px;padding:2px 10px;display:block;}